# BÀI TẬP 2 GIỮA KÌ MÔN KHOA HỌC DỮ LIỆU
[link to dataset](https://covid19.who.int/data)

For this data science project, we will analyze the data of global COVID-19 daily cases and deaths by date reported to WHO, as of the end of 2021, from the [WHO COVID-19 Dashboard](https://covid19.who.int/data). The data contains the following fields:

* Date_reported: Date variable, Date of reporting to WHO.
* Country_code: String variable, ISO Alpha-2 country code.
* Country: String variable, country, territory, area.
* WHO_region: String variable, WHO regional offices: WHO Member States are grouped into six WHO regions -- Regional Office for Africa (AFRO), Regional Office for the Americas (AMRO), Regional Office for South-East Asia (SEARO), Regional Office for Europe (EURO), Regional Office for the Eastern Mediterranean (EMRO), and Regional Office for the Western Pacific (WPRO).
* New_cases: Integer variable, New confirmed cases. Calculated by subtracting previous cumulative case count from current cumulative cases count.*
* Cumulative_cases: Integer variable, Cumulative confirmed cases reported to WHO to date.
* New_deaths: Integer variable, New confirmed deaths. Calculated by subtracting previous cumulative deaths from current cumulative deaths.*
* Cumulative_deaths: Integer variable, Cumulative confirmed deaths reported to WHO to date.

> *New case and death counts: Counts of new cases and deaths are calculated by subtracting previous cumulative total counts from the current count. These counts are updated incrementally throughout the day as more information becomes available. Daily new case and death counts are complete by 23:59 CET/CEST each day. Due to differences in reporting methods, cut-off times, retrospective data consolidation and reporting delays, the number of new cases may not always reflect daily totals published by individual countries, territories or areas. Due to the recent trend of countries conducting data reconciliation exercises which remove large numbers of cases or deaths from their total counts, such data may reflect as negative numbers in the new cases / new deaths counts as appropriate. This will aid users in identifying when such adjustments occur. When additional details become available that allow the subtractions to be suitably apportioned to previous days, data will be updated accordingly.

## Data and Setup

____
** Import numpy and pandas **

In [6]:
import numpy as np
import pandas as pd

** Import visualization libraries **

In [7]:
import matplotlib.pyplot as plt
import seaborn as sns

** Read in the csv file as a dataframe called df **

In [8]:
df = pd.read_csv('WHO-COVID-19-global-data.csv')

** Check the info of the df **

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172773 entries, 0 to 172772
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      172773 non-null  object
 1   Country_code       172044 non-null  object
 2   Country            172773 non-null  object
 3   WHO_region         172773 non-null  object
 4   New_cases          172773 non-null  int64
 5   Cumulative_cases   172773 non-null  int64
 6   New_deaths         172773 non-null  int64
 7   Cumulative_deaths  172773 non-null  int64
dtypes: int64(4), object(4)
memory usage: 10.5+ MB

** Check the head of df **

In [10]:
df.head(3)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0

## Basic Questions

** How many countries, territories, areas are there in the dataset? **

In [28]:
df['Country'].nunique()

237

** what are the top 5 countries for cumulative cases? **

In [26]:
df[df['Date_reported']=='2021-12-31'].sort_values('Cumulative_cases', ascending=False)[['Country', 'Cumulative_cases']].head(5)

                         Country  Cumulative_cases
165482  United States of America          53534286
70712                      India          34838804
21140                     Brazil          22263834
154547        The United Kingdom          13441671
128303        Russian Federation          10499982

** What are the top 5 country for cumulative deaths? **

In [27]:
df[df['Date_reported']=='2021-12-31'].sort_values('Cumulative_deaths', ascending=False)[['Country', 'Cumulative_deaths']].head(5)

                         Country  Cumulative_deaths
165482  United States of America             819055
21140                     Brazil             618817
70712                      India             481080
128303        Russian Federation             308860
98414                     Mexico             303822